<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragmentos/fragmento :: cabecera('Editar Sitios')"></head>
<body>
    <main>
        <div class="container px-4 py-5">
            <h1 class="pb-2 mb-3 border-bottom">Editar Sitio</h1>
            <form method="post" th:action="@{'/sitios/save'}" class="mt-2">
                <input th:value="${site.id}" name="siteId" type="hidden" />
                <div class="mb-3">
                    <label for="City" class="form-label">Nombre del sitio</label>
                    <input th:value="${location.city}" name="City" type="text" class="form-control" id="City" />
                </div>
                <div class="mb-3">
                    <label for="Country" class="form-label">Teléfono</label>
                    <input th:value="${location.country}" name="Country" type="text" class="form-control" id="Country" />
                </div>
                <a th:href="@{'/vista1/sitios'}" class="btn btn-danger">Cancelar</a>
                <button type="submit" class="btn btn-primary">Actualizar</button>
            </form>
        </div>
    </main>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>